<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>
    {% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}
  </title>
  <meta
    name="description"
    content="{% if page.excerpt %}{{
      page.excerpt | strip_html | strip_newlines | truncate: 160
    }}{% else %}{{ site.description }}{% endif %}"
  />

  <link rel="stylesheet" href="{{
    "/css/main.css" | prepend: site.baseurl
  }}">
  <link
    rel="canonical"
    href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"
  />
  <link rel="alternate" type="application/rss+xml" title="{{
    site.title
  }}" href="{{
    "/feed.xml" | prepend: site.baseurl | prepend: site.url
  }}">
  <link
    href="https://fonts.googleapis.com/css?family=Lora|Montserrat:400,800&display=swap"
    rel="stylesheet"
  />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
</head>
