/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
    max-width: calc( 100% + 200px );
    margin: 0 -100px 50px;
    vertical-align: middle;

    @include media-query(740px) {
        max-width: calc( 100% + 100px );
        margin: 0 -50px 50px;
    }

}



// /**
//  * Figures
//  */
// figure > img {
//     display: block;
// }

// figcaption {
//     font-size: $small-font-size;
// }



/**
 * Lists
 */
li {
    position: relative;
    list-style-type: none;

    &:before {
        content: "";
        position: absolute;
        bottom: 0;
        color: $brand-color;
        font-size: 16px;
        list-style-type: disc;
        display:  list-item;
        left: -5px;
    }
}




// /**
//  * Headings
//  */
h1, h2, h3, h4, h5, h6 {
    font-family: $title-font-family;
}



/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;

    &:hover {
        color: $text-color;
        text-decoration: underline;
    }
}



/**
 * Blockquotes
 */
blockquote {
    font-family: $title-font-family;
    color: $grey-color;
    // border-left: 2px solid $brand-color;
    // padding-left: $spacing-unit / 2;
    font-size: 24px;
    // font-style: italic;
    line-height: 29px;
    // margin-left: -17px;
    padding: 25px 0;
    margin-left: -50px;
    margin-right: -50px;

    > :last-child {
        margin-bottom: 0;
    }

    @include media-query(940px) {
        margin-left: 0;
        margin-right: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border-radius: 3px;
    background-color: $background-color2;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}



// /**
//  * Wrapper
//  */
// .wrapper {
//     max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
//     max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
//     margin-right: auto;
//     margin-left: auto;
//     padding-right: $spacing-unit;
//     padding-left: $spacing-unit;
//     @extend %clearfix;

//     @include media-query($on-laptop) {
//         max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
//         max-width:         calc(#{$content-width} - (#{$spacing-unit}));
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }



// /**
//  * Clearfix
//  */
// %clearfix {

//     &:after {
//         content: "";
//         display: table;
//         clear: both;
//     }
// }



// /**
//  * Icons
//  */
// .icon {

//     > svg {
//         display: inline-block;
//         width: 16px;
//         height: 16px;
//         vertical-align: middle;

//         path {
//             fill: $grey-color;
//         }
//     }
// }
