.wrapper{
    max-width: $content-width;
    margin: auto;
    margin-top: 25vh;
    padding: 50px;
}


/**
 * Site header
 */
.site-header {
    padding: 0 30px;

    a {
        color: $text-color;
        text-decoration: none;
    }
}

.site-title.material-icons{
    font-size: 36px !important;
    line-height: 60px;
}

/**
 * Page content
 */
.page-content {
}

.page-heading {
}

/**
 * Posts
 */
.post-header {
    margin-bottom: 50px;
}

.post-title {
    font-size: 55px;
    margin: 0;
}

.page-heading {
    font-size: 55px;
}

.post-meta {
    color: $grey-color;
    font-family: $title-font-family;
}

.post-content {
    margin-bottom: 100px;
}


.post-list {
    li:before {
        content: none;
    }
}
